#cabezera{
  padding-top: 30px;
  background-color: #D1EBFD;
  padding-bottom:20px;
}

#usuario{
  position: absolute;
    top: 190px; 
    left: 195px;
}

#fondo{
  background: url('../images/perfil/fondo.jpg');
}

#label2,#label1, #estrella, #escudo, #separador, #logo{
  background: url('../images/perfil/sprite_trasparente.png');
}

#logo{
  margin-left: 40px;
  background-position: -300px -1px;
    height: 300px;
    width: 660px;
    position: relative;
}

#cuerpo{
  background-color: white;
  position: relative;
}

#contenedorDerecho{
  height: 600px;
}

#separador{
  height: 150px;
  background-position: -10px -835px;
    height: 150px;
    width: 1171px;
}

#pie{
  background-color: #a7d7fc;
}

#escudo{
  background-position: -350px -1010px;
    height: 310px;
    width: 394px;
    margin-bottom: 0px;
}

#estrella{
  background-position: -920px -1000px;
    height: 280px;
    width: 305px;
  margin-left: 450px;

}

#prueba{
  height: 600px
}

#label1{
  background-position: -265px -475px;
    height: 340px;
    width: 460px;
    position: absolute;
    top: 150px; 
    left: -48px;
}

#label2{
  background-position: -784px -475px;
    height: 210px;
    width: 460px;
    position: absolute;
    top: 400px; 
    left: -58px;
}
