

#fondo{
  background: url('../images/perfil/fondo.jpg');
}

#logo,#label2,#label1, 
#estrella,#escudo,#separador,
#estrellitas,#iconos{
  background: url('../images/perfil/sprite_trasparente.png');
}

#cabezera{
  padding-top: 30px;
  background-color: #D1EBFD;
}

#logo{
  margin-left: 220px;
  background-position: -300px -1px;
    height: 300px;
    width: 660px;
    position: relative;
}

#usuario{
  position: absolute;
    top: 190px; 
    left: 195px;
}

#cuerpo{
  background-color: white;
  position: relative;
}

#label1{
  background-position: -254px -390px;
    height: 320px;
    width: 378px;
    position: absolute;
    top: 50px; 
    left: -39px;
}

#label2{
  background-position: -817px -433px;
    height: 191px;
    width: 383px;
    position: absolute;
    top: 390px; 
    left: -28px;
}

#questionable{
  position: absolute;
    top: 55px; 
    left: 10px;
}

#separador{
  background-color: white;
  background-position: -10px -835px;
    height: 150px;
    width: 1171px auto;
}

#pie{
  background-color: #a7d7fc;
  position: relative;
}

#escudo{
  background-position: -1px -1136px;
    height: 180px;
    width: 287px;
    margin-top: 39px;
    margin-bottom: 0px;
}

#estrellitas{
  background-position: -384px -1002px;
    height: 220px;
    width: 426px;
  margin-right: 100px;
  margin-left: 100px;
}

#estrella{
  background-position: -981px -1046px;
    height: 202px;
    width: 212px;
}

#iconos{
  background-position: -686px -644px;
    height: 108px;
    width: 38px;
  position: absolute;
    top: 50px; 
    left: 440px;
}

#facebook{
  position: absolute;
    top: 58px; 
    left: 490px;
}

#twitter{
  position: absolute;
    top: 90px; 
    left: 490px;
}

#youtube{
  position: absolute;
    top: 122px; 
    left: 490px;
}

.colorLink{
  color:#FFFFFF;
}

#questionableResponsive{
  display: none;
}



/*Piedritas*******************************************************/
  
#text{
  width:150px;
  text-align: center;
  position:absolute;
  top:100px;
}

.piedrasNull{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

#modelo1,#modelo2,#modelo3,
#modelo4,#modelo5,#modelo6,
#modelo7,#modelo8,#modelo9,
#modelo10,#modelo11,#modelo12,
#modelo13,#modelo14,#modelo15,
#modelo16,#modelo17,#modelo18,
#modelo19,#modelo20,#modelo21,
#modelo22,#modelo23,#modelo24,
#piedritaPrueba{
  background: url('../images/perfil/sprite_piedritas.png');
  margin-top: 20px;
  margin-left: 20px;
}

#modelo1{
  background-position: -872px -606px;
    height: 150px;
    width: 150px;
  background-color: #c7a7d1;
  position: relative;
}
#modelo2{
  background-position: -719px -606px;
    height: 150px;
    width: 150px;
  background-color: #d0e8bd;
  position: relative;
}
#modelo3{
  background-position: -568px -606px;
    height: 150px;
    width: 150px;
  background-color: #e5cfcf;
  position: relative;
}
#modelo4{
  background-position: -415px -606px;
    height: 150px;
    width: 150px;
  background-color: #f1cfa4;
  position: relative;
}
#modelo5{
  background-position: -265px -606px;
    height: 150px;
    width: 150px;
  background-color: #ceb69c;
  position: relative;
}
#modelo6{
  background-position: -112px -606px;
    height: 150px;
    width: 150px;
  background-color: #abcfe9;
  position: relative;
}
#modelo7{
  background-position: -872px -456px;
    height: 150px;
    width: 150px;
  background-color: #b3bfd8;
  position: relative;
}
#modelo8{
  background-position: -719px -456px;
    height: 150px;
    width: 150px;
  background-color: #f1cfb5;
  position: relative;
}
#modelo9{
  background-position: -568px -456px;
    height: 150px;
    width: 150px;
  background-color: #e5cfe0;
  position: relative;
}
#modelo10{
  background-position: -415px -456px;
    height: 150px;
    width: 150px;
  background-color: #fbcfcf;
  position: relative;
}
#modelo11{
  background-position: -265px -456px;
    height: 150px;
    width: 150px;
  background-color: #c4e8f0;
  position: relative;
}
#modelo12{
  background-position: -112px -456px;
    height: 150px;
    width: 150px;
  background-color: #a3c7e0;
  position: relative;
}
#modelo13{
  background-position: -872px -301px;
    height: 150px;
    width: 150px;
  background-color: #dbe8ce;
  position: relative;
}
#modelo14{
  background-position: -719px -301px;
    height: 150px;
    width: 150px;
  background-color: #97c7e9;
  position: relative;
}
#modelo15{
  background-position: -568px -301px;
    height: 150px;
    width: 150px;
  background-color: #faefce;
  position: relative;
}
#modelo16{
  background-position: -415px -301px;
    height: 150px;
    width: 150px;
  background-color: #e5cff1;
  position: relative;
}
#modelo17{
  background-position: -265px -301px;
    height: 150px;
    width: 150px;
  background-color: #c4e8f0;
  position: relative;
}
#modelo18{
  background-position: -112px -301px;
    height: 150px;
    width: 150px;
  background-color: #f39daf;
  position: relative;
}
#modelo19{
  background-position: -872px -147px;
    height: 150px;
    width: 150px;
  background-color: #ceb6d8;
  position: relative;
}
#modelo20{
  background-position: -719px -147px;
    height: 150px;
    width: 150px;
  background-color: #e7c7e0;
  position: relative;
}
#modelo21{
  background-position: -568px -147px;
    height: 150px;
    width: 150px;
  background-color: #b59dc9;
  position: relative;
}
#modelo22{
  background-position: -415px -147px;
    height: 150px;
    width: 150px;
  background-color: #b3d789;
  position: relative;
}
#modelo23{
  background-position: -265px -147px;
    height: 150px;
    width: 150px;
  background-color: #e7c78a;
  position: relative;
}
#modelo24{
  background-position: -112px -147px;
    height: 150px;
    width: 150px;
  background-color: #b8e9cb;
  position: relative;
}
@media (max-width: 1200px) { 
  #estrella{
    display:none;
  }
  #logo{
    margin-left: 100px;
  }
}

@media (max-width: 980px) { 
  #logo{
    margin-left: 0px;
  }
  #estrellitas{
    display: none;
  }
  #contenedorDerecho{
    width: 100%;
  }
  #contenedorIzquierdo{
    display: none;
  }
  #questionableResponsive{
    background-color: #FFFFFF;
    display: block;
  }
}

